/* -- general */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
}

h2 {
	background-color: rgb(92, 181, 151);
	color: white;
	font-size: 20px;
	font-weight: 300;
	padding: 1em;
	text-align: center;
}

/* -- form */
.form fieldset {
	background-color: rgb(223, 223, 223);
	border: none;
	margin: 30vh;
}

/* -- input fields */
.form fieldset input[type='text'],
.form fieldset input[type='email'],
.form fieldset textarea {
	font-size: 12px;
	border: 1px solid rgb(199, 196, 196);
	margin: 0.5em 0.5em;
	padding: 0.8em 0.6em;
	width: 98%;
}

/* -- input type textarea */
.form fieldset input[type='textarea'] {
	height: 23vh;
}

/* -- input type submit */
.form fieldset input[type='submit'] {
	background-color: rgb(92, 181, 151);
	border: none;
	color: white;
	margin: 0 0.5em 0.5em 0.5em;
	padding: 0.5em;
}

.form fieldset input[type='submit']:hover {
	background-color: rgb(65, 119, 101);
}

.form fieldset input[type='textarea'],
.form fieldset input[type='submit'] {
	width: 98%;
}
